# Ignore Parquet files
*.parquet

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment files
venv/
.venv/
.env/
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore data files
*.csv
*.csv.gz

# Ignore Jupyter checkpoints
.ipynb_checkpoints/
